body {
  margin: 0;
  font-family: 'Google Sans Code', 'Google Sans Code Italic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, .code, .text-code {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}